<div class="modal fade" id="AddReviewModal" tabindex="-1" aria-labelledby="AddReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-color fs-5" id="AddReviewModalLabel">Rate our product </h1>
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="POST" id="AddReviewForm">
                <div class="modal-body reviews">
                    <input type="hidden" id="OrderProductId" name="OrderProductId" value="" />
                    <input type="hidden" id="ProductId" name="ProductId" value="" />
                    <div class="mb-3 d-flex justify-content-between">
                        <input type="hidden" id="RatingInput" name="rating" value="0">
                        <label class="form-label labels">Rating</label>
                        <div class="star-rating text-warning" data-field="Rate">
                            <i class="bi bi-star star fs-5" data-value="1"></i>
                            <i class="bi bi-star star fs-5" data-value="2"></i>
                            <i class="bi bi-star star fs-5" data-value="3"></i>
                            <i class="bi bi-star star fs-5" data-value="4"></i>
                            <i class="bi bi-star star fs-5" data-value="5"></i>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="write details" id="ReviewText" rows="3"></textarea>
                        <label for="ReviewText" class="form-label labels">Review</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Yse</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>