<div class="modal fade" id="AddReviewModal" tabindex="-1" aria-labelledby="AddReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="AddReviewModalLabel">Rate our product </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="POST" id="AddReviewForm">
                <div class="modal-body">
                    <input type="hidden" id="OrderProductId" name="OrderProductId" value="" />
                    <input type="hidden" id="ProductId" name="ProductId" value="" />

                    <div class="form-floating mb-3">
                        <select class="form-select" id="RatingInput">
                            <option value="">Select Rating</option>
                            @for (int i = 1; i <= 5; i++)
                            {
                                <option value="@i">@i Star</option>
                            }
                        </select>
                        <label for="Rating" class="form-label">Rating</label>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="write details" id="ReviewText" rows="3"></textarea>
                        <label for="ReviewText" class="form-label">Review</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Yse</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>