@using static Ecommerce.Repository.Helpers.Enums
@model Ecommerce.Repository.ViewModels.OfferViewModel
@using Ecommerce.Repository.ViewModels;
@{
    Layout = "~/Views/Shared/_dashboardSeller.cshtml";
}

<h2 class="mt-3 text-color">Add New Offer</h2>
<div class="d-flex p-2 justify-content-center align-items-center  mt-3 w-75 px-5">
    <div class="LoginContent p-4  w-100  ">

        <div class="w-100 ">
            <form asp-action="AddOffer" asp-controller="Dashboard" id="AddOfferForm">

                <div class="d-flex gap-3 ">
                    <div class="form-floating mb-3 w-100">
                        <select class="form-select " asp-for="OfferType" id="OfferType" aria-label="OfferType"
                            placeholder="select type of offer" asp-items="Html.GetEnumSelectList<OfferTypeEnum>()">
                        </select>
                        <span asp-validation-for="OfferType" class="text-danger"></span>
                        <label class="labels" for="OfferType">Select type of offer</label>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <select class="form-select " asp-for="ProductId" id="ProductId" aria-label="ProductId"
                            placeholder="select Product">
                        </select>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                        <label class="labels" for="ProductId">Select Product which admin grants you to add offers</label>
                    </div>
                </div>
                <div class="d-flex gap-3 ">
                    <div class="form-floating has-validation my-2 mb-3 w-100">
                        <input type="text" class="form-control" id="Title" placeholder="Enter offer name"
                            asp-for="Title">
                        <span asp-validation-for="Title" class="text-danger "></span>
                        <label class="labels" for="Title">Offer Name</label>
                    </div>
                    <div class="form-floating has-validation my-2 mb-3 w-100">
                        <input type="number" class="form-control" id="DiscountRate" placeholder="Enter discount rate"
                            asp-for="DiscountRate">
                        <span asp-validation-for="DiscountRate" class="text-danger "></span>
                        <label class="labels" for="DiscountRate">Discount Rate</label>
                    </div>
                </div>

                <div class="form-floating has-validation my-2 mb-3 w-100">
                    <textarea class="form-control" id="Description" placeholder="Enter offer description" asp-for="Description"
                        style="height: 50px"></textarea>
                    <span asp-validation-for="Description" class="text-danger "></span>
                </div>

                <div class="d-flex gap-3 ">
                    <div class="form-floating has-validation my-2 mb-3 w-100">
                        <input type="date" class="form-control" id="StartDate" placeholder="Enter start date"
                            asp-for="StartDate">
                        <span asp-validation-for="StartDate" class="text-danger "></span>
                        <label class="labels" for="StartDate">Start Date</label>
                    </div>
                    <div class="form-floating has-validation my-2 mb-3 w-100">
                        <input type="date" class="form-control" id="EndDate" placeholder="Enter end date"
                            asp-for="EndDate">
                        <span asp-validation-for="EndDate" class="text-danger "></span>
                        <label class="labels" for="EndDate">End Date</label>
                    </div>
                </div>

                <span class="text-color">Schedule Time</span>
                <div class="d-flex gap-3">
                    <div class="form-floating has-validation my-2 mb-3 w-100">
                        <input type="text" asp-for="StartTime" class="form-control timepicker" id="StartingTime" />
                        <label class="labels" for="StartingTime">Start Time</label>
                    </div>
                    <div class="form-floating has-validation my-2 mb-3 w-100">
                        <input type="text" asp-for="EndTime" class="form-control timepicker" id="EndingTime" />
                        <label class="labels" for="EndingTime">End Time</label>
                    </div>
                </div>
                <div class="w-100 d-flex justify-content-end">
                    <button type="submit" class="btn btn-success w-25" id="AddOfferButton">Add Offer</button>

                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="~/js/addOffer_script.js" asp-append-version="true"></script>
    <script src="~/js/toastr_script.js"></script>
    <script>
        window.successMessage = '@TempData["SuccessMessage"]';
        window.errorMessage = '@TempData["ErrorMessage"]';
    </script>
}