@{
    Layout = "~/Views/Shared/_dashboardSeller.cshtml";
}

<h2 class="mt-3">Seller's dashboard</h2>

@section scripts {  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>  
        window.successMessage = '@TempData["SuccessMessage"]';
        window.errorMessage = '@TempData["ErrorMessage"]';
    </script>
    <script src="~/js/toastr_script.js"></script>
}