@using static Ecommerce.Repository.Helpers.Enums
@model Ecommerce.Repository.ViewModels.AddProductViewModel

@{
    Layout = "~/Views/Shared/_dashboardSeller.cshtml";
}


<div class="d-flex justify-content-between w-100 p-3">
    <h3 class="text-color">
        Add new product
    </h3>

    <div>
        <a class="btn btn-primary" id="AddProduct-btn" asp-action="MyProducts" asp-controller="Product">
            <i class="bi bi-chevron-left"></i> Back to products
        </a>
    </div>
</div>

<div class="w-100 d-flex justify-content-center align-items-start flex-lg-row flex-column px-4">
    <div class="pe-4 mb-3">
        <div class="MyOrder p-3 mb-4">
            <div class="d-flex justify-content-start align-items-center gap-2">
                <h4 class="font-monospace text-secondary">Guidelines</h4>
                <img src="~/images/airplane_10521415.png" alt="" height="20px" width="20px">
            </div>
            <hr />
            <ul class="ps-3">
                <li>Ensure the product <strong>name</strong> is unique and descriptive.</li>
                <li>Provide a detailed <strong>description</strong> to help customers understand the product.</li>
                <li>Add relevant <strong>features</strong> to highlight the product's benefits.</li>
                <li>Select the appropriate <strong>category</strong> for better organization.</li>
                <li>Set a competitive <strong>price</strong> based on market research.</li>
                <li>Specify the available <strong>stock quantity</strong> accurately.</li>
                <li>Upload <strong>high-quality images</strong> to showcase the product.</li>
                <li>Choose a suitable <strong>discount type</strong> (e.g., percentage or fixed amount).</li>
                <li>Set a <strong>discount value</strong> to attract customers while maintaining profitability.</li>
                <li class="text-danger">Review all details before submitting the form.</li>
            </ul>


            <hr />
            <div class="d-flex justify-content-start align-items-center gap-2">
                <h4 class="font-monospace text-secondary">For Bulk Upload</h4>
                <img src="~/images/airplane_10521415.png" alt="" height="20px" width="20px">
            </div>
            <hr />
            <ul class="ps-3">
                <li>Inorder to add multiple product in single go, 
                    first download the <strong>.xlxs</strong> file which is here below 👇🏻, 
                    which will guide you to insert details into excel sheet,
                    which you need to attach to below 👇🏻 input, only <strong>.xlxs</strong> is valid!
                </li>
            </ul>
        </div>

        <div class="d-flex flex-column gap-3">
            <a class="btn btn-primary DownloadSampleTamplate" asp-action="DownloadTemplate" asp-controller="Product">
                Download Template
            </a>
            <form method="post" id="uploadForm" enctype="multipart/form-data" class="d-flex flex-column gap-3">
                <div class="form-group">
                    <label class="text-color" for="file">Select Excel File (.xlsx)</label>
                    <input type="file" id="file" name="file" accept=".xlsx" class="form-control" />
                </div>
                <button type="submit" class="btn  btn-success mb-3 uploadbtn">
                    <span class="upload">Upload</span>
                    <span class="loader2 " style="width: 20px; height: 20px;"></span>
                </button>
            </form>
        </div>

        <div id="message"></div>
    </div>
    <div class="w-100 widthOfForms ">
        <div class="p-3">
            <form action="POST" id="AddProductForm">
                <div class="form-floating has-validation my-2 mb-3 w-100">
                    <input type="text" class="form-control" id="ProductName" placeholder="Product Name"
                        asp-for="ProductName">
                    <span asp-validation-for="ProductName" class="text-danger float-start"></span>
                    <label class="labels" for="ProductName">product name</label>
                </div>

                <div class="form-floating mb-3 w-100">
                    <textarea class="form-control" asp-for="Description" placeholder="Leave a comment here"
                        id="Description" style="height: 100px"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>

                <input type="hidden" id="FeaturesInput" asp-for="FeaturesInput">

                <div class="features-container">

                    <p class="text-secondary">optional</p>
                    <button type="button" class="btn btn-primary mb-3" id="AddFeatureButton"><i
                            class="bi bi-plus-lg"></i> Add new features</button>

                </div>

                <div class="form-floating mb-3 w-100">
                    <select class="form-select" asp-for="CategoryId" id="floatingSelect" aria-label="Role"
                        asp-items="Html.GetEnumSelectList<CategoriesEnum>()"></select>
                    <label class="labels" for="floatingSelect">Category</label>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>


                <div class="d-flex flex-row gap-3">
                    <div class="form-floating mb-3 w-100">
                        <select class="form-select" asp-for="DiscountType" id="floatingSelect" aria-label="Role"
                            asp-items="Html.GetEnumSelectList<DiscountEnum>()"></select>
                        <label class="labels" for="floatingSelect">Discount Type</label>
                        <span asp-validation-for="DiscountType" class="text-danger"></span>
                    </div>

                    <div class="form-floating has-validation mb-3 w-100">
                        <input type="text" class="form-control" id="Discount" placeholder="Discount" asp-for="Discount">
                        <span asp-validation-for="Discount" class="text-danger float-start"></span>
                        <label class="labels" for="Discount">Discount</label>
                    </div>
                </div>

                <div class="form-floating has-validation my-2 mb-3 w-100">
                    <input type="text" class="form-control" id="Price" placeholder="Price" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger float-start"></span>
                    <label class="labels" for="Price">Price</label>
                </div>

                <div class="form-floating has-validation my-2 mb-3 w-100">
                    <input type="text" class="form-control" id="Stocks" placeholder="Stocks" asp-for="Stocks">
                    <span asp-validation-for="Stocks" class="text-danger float-start"></span>
                    <label class="labels" for="Stocks">Stocks</label>
                </div>



                <div class="my-2 mb-3 w-100">
                    <input type="file" class="form-control" id="ProductImages" asp-for="imageFile" multiple
                        accept="image/*">
                    <span asp-validation-for="imageFile" class="text-danger float-start"></span>
                </div>

                <div class="image-preview-container mt-3"></div>

                <div class="d-flex justify-content-end ">
                    
                    <button type="submit" class="btn btn-success Addproduct">
                        <span class="loader2 " style="width: 20px; height: 20px;"></span>
                        <span class="products">Add product</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>
    <script>
        window.successMessage = '@TempData["SuccessMessage"]';
        window.errorMessage = '@TempData["ErrorMessage"]';
        
    </script>
    <script src="~/js/toastr_script.js"></script>
    <script src="~/js/addProduct_script.js" asp-append-version="true"></script>
}