@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="d-flex justify-content-between w-100 p-3">
    <h3>
        MyProducts
    </h3>
    <a class="btn btn-success" id="AddProduct-btn" asp-action="AddProduct" asp-controller="Product">
        <i class="bi bi-plus-lg"></i> Add New Product
    </a>
</div>

<div class="p-3 w-100">
    <div class="bg-white border rounded-3 p-3">
        <div class="d-flex justify-content-center">
            <span class="loader3" style="width: 40px; height: 40px;"></span>
        </div>
        <div id="productDetails" class="overflow-auto"></div>
    </div>
</div>

<!-- partialviews -- model -->
<partial name="_DeleteProductModalPartial"></partial>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
       
        window.successMessage = '@TempData["SuccessMessage"]';
        window.errorMessage = '@TempData["ErrorMessage"]';

       
    </script>
    <script src="~/js/toastr_script.js"></script>
    <script src="~/js/myProducts_script.js"></script>
    
}