@model List<Ecommerce.Repository.Models.State>
@using Ecommerce.Repository.Models

@if(Model != null && Model.Any())
{
    @foreach(State state in Model)
    {
        <option value="@state.StateId">@state.State1</option>
    }
} 