@{
    ViewData["Title"] = "404 ERROR";
}

<div class="d-flex text-color flex-column justify-content-start align-items-center ">

    <h1 class=" display-1">@ViewData["Title"]</h1>

    <h3 >URL not recognized</h3>


</div>