@{
    ViewData["Title"] = "401 ERROR";
}

<div class="d-flex text-color flex-column justify-content-start align-items-center ">

    <h1  class="display-1">@ViewData["Title"]</h1>

    <h3 > This page isn’t working right now,If the problem continues, contact the site owner.</h3>
    <h3 > Lack of valid authentication credentials</h3>


</div>