@{
    ViewData["Title"] = "403 ERROR";
}

<div class="d-flex text-color flex-column justify-content-start align-items-center ">

    <h1 class="display-1">@ViewData["Title"]</h1>

    <h3> Access to localhost was deniedYou don't have the user rights to view this page.</h3>


</div>