@model Ecommerce.Repository.ViewModels.EmailViewModel

<div class="d-flex p-2 justify-content-center align-items-center ">
    <div class="LoginContent p-4 ">
        <h1 class="display-4 text-center text-color">E-commerce</h1>
        <h3 class="display-6 mb-4 text-center text-color">Forgot Password?</h3>

        <div class="w-100 ">
            <form class="ForgotPassword-form" asp-action="ForgotPassword" asp-controller="Login" method="post" class="d-flex flex-column">
            <div class=" has-validation my-2 mb-4 w-100">
                <h6 class="text-color">Enter your email, </h6>
                <h6 class="mb-3 text-color">We'll send you link to reset your password</h6>

                <input type="text" class="form-control" placeholder="Email" asp-for="ToEmail" >
                <span asp-validation-for="ToEmail" class="text-danger float-start">@TempData["ErrorMessage"]</span>
            </div>
            @if (TempData["SuccessMessage"] != null)
            {
                <span asp-validation-for="ToEmail" class="text-success">@TempData["SuccessMessage"]</span>
            }
            <div class="">
                <button type="submit" class="w-100 btn btn-color text-white rounded-3 resetPassword-btn">
                    <span class="login">Reset Password</span>
                    <span class="loader2 " style="width: 20px; height: 20px;"></span>
                </button>
            </div>

        </form>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a class="text-decoration-none text-center mt-3" asp-action="Index" asp-controller="Login">back to login</a>
        </div>

    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(".login").show();
        $(".loader2").hide();

        window.successMessage = '@TempData["SuccessMessage"]';
        window.errorMessage = '@TempData["ErrorMessage"]';

        $(document).ready(function () {

            $(document).on('submit', '.ForgotPassword-form', function () {
                $(".login").hide();
                $(".loader2").show();
            });
        })
    </script>
    <script src="~/js/toastr_script.js"></script>
}