@using static Ecommerce.Repository.Helpers.Enums
@model Ecommerce.Repository.ViewModels.RegisterUserViewModel

<div class="row w-100 p-5">
    <div class="col-md-4 p-3">
        <div class="MyOrder p-3">
            <div class="d-flex justify-content-start align-items-center gap-2">
                <h4 class="font-monospace text-secondary">Guidelines</h4>
                <img src="~/images/airplane_10521415.png" alt="" height="20px" width="20px">
            </div>
            <hr />
            <ul class=" ps-3">
                <li>If you want to <strong>sell products</strong>, select the <strong>Seller</strong> role while signing
                    up.</li>
                <li>If you want to <strong>buy products</strong>, choose the <strong>Buyer</strong> role during
                    registration.</li>
                <li>Make sure to fill in all the fields correctly with <strong>valid and up-to-date</strong>
                    information.</li>
                <li>Your email address will be used for login and notifications, so ensure it is correct.</li>
                <li>Passwords must be strong and match in both fields.</li>
                <li>Choose the correct location — <strong>Country, State, and City</strong> — to ensure accurate
                    delivery and access to local products.</li>
                <li>Phone number and address must be real and reachable for communication or delivery purposes.</li>
                <li>Once registered, your role cannot be changed directly. Make sure you choose the right role at the
                    start.</li>
            </ul>
        </div>

    </div>
    <div class="LoginContent col-md-8 py-3">
        <div class="p-4">

            <h1 class="display-4 text-center text-color">E-commerce</h1>
            <h3 class="display-6 mb-4 text-center text-color">Sign up</h3>

            <div class="w-100 ">
                <form class="RegisterUser-form" asp-action="RegisterUser" asp-controller="Login" method="post"
                    class="d-flex flex-column inputlogin">

                    <div class="d-flex gap-2">
                        <div class="form-floating mb-3 w-100">
                            <input type="text" asp-for="FirstName" class="form-control" id="floatingInput"
                                placeholder="First Name">
                            <label class="labels" for="floatingInput">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3 w-100">
                            <input type="text" asp-for="LastName" class="form-control" id="floatingInput"
                                placeholder="Last Name">
                            <label class="labels" for="floatingInput">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-floating has-validation my-2 mb-3 w-100">
                        <input type="text" class="form-control" id="email-login" placeholder="Email" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger float-start"></span>
                        <label class="labels" for="email-login">Email</label>
                    </div>

                    <div class="d-flex gap-2 w-100">
                        <div class="form-floating mb-3 w-100">
                            <input type="text" asp-for="UserName" class="form-control" id="floatingInput"
                                placeholder="Username">
                            <label class="labels" for="floatingInput">UserName</label>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 w-100">
                            <select class="form-select" asp-for="RoleId" id="floatingSelect" aria-label="Role"
                                asp-items="Html.GetEnumSelectList<RegisterRoleEnum>()"></select>
                            <label class="labels" for="floatingSelect">Role</label>
                            <span asp-validation-for="RoleId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Address" class="form-control" id="floatingInput"
                            placeholder="Address">
                        <label class="labels" for="floatingInput">Address</label>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="d-flex gap-2">
                        <div class="form-floating mb-3 w-100">
                            <select class="form-select" asp-for="CountryId" id="countrydropdown" aria-label="Country">
                                <option value="">Select Country</option>

                            </select>
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                            <label class="labels" for="floatingSelect">Country</label>
                        </div>
                        <div class="form-floating mb-3 w-100">
                            <select class="form-select" asp-for="StateId" id="statedropdown" aria-label="State">
                                <option value="">Select state</option>
                            </select>
                            <label class="labels" for="floatingSelect">State</label>
                            <span asp-validation-for="StateId" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 w-100">
                            <select class="form-select" asp-for="CityId" id="citydropdown" aria-label="City">
                                <option value="">Select city</option>
                            </select>
                            <label class="labels" for="floatingSelect">City</label>
                            <span asp-validation-for="CityId" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="d-flex gap-2">
                        <div class="form-floating mb-3 w-100">
                            <input type="text" asp-for="PhoneNumber" class="form-control" id="floatingInput"
                                placeholder="Phone">
                            <label class="labels" for="floatingInput">Phone</label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 w-100">
                            <input type="text" asp-for="Pincode" class="form-control" id="floatingInput"
                                placeholder="Zipcode">
                            <label class="labels" for="floatingInput">Pincode</label>
                            <span asp-validation-for="Pincode" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="d-flex gap-2">
                        <div class="my-2 mb-3 w-100">
                            <div class="form-floating position-relative password-section ">
                                <input asp-for="Password" type="password" class="form-control"
                                    id="exampleInputPassword2" placeholder="New Password*">
                                <div class="eye z-10">
                                    <i class="bi bi-eye openeye1 eye inactive"></i>
                                    <i class="bi bi-eye-slash closeeye1 eye active"></i>
                                </div>
                                <label class="labels" for="exampleInputPassword2">Password</label>

                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="my-2 mb-3 w-100">
                            <div class="form-floating position-relative password-section  ">
                                <input asp-for="ConfirmPassword" type="password" class="form-control"
                                    id="exampleInputPassword3" placeholder="Confirm New Password*">
                                <div class="eye z-10">
                                    <i class="bi bi-eye openeye2 eye inactive"></i>
                                    <i class="bi bi-eye-slash closeeye2 eye active"></i>
                                </div>
                                <label class="labels" for="exampleInputPassword3">Confirm Password</label>

                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="">
                        <button type="submit" class="w-100 btn btn-color text-white rounded-3">
                            <span class="login">Register</span>
                            <span class="loader2 " style="width: 20px; height: 20px;"></span>
                        </button>

                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <a class="text-decoration-none" asp-action="Index" asp-controller="BuyerDashboard">Back to dashboard</a>
                <a class="text-decoration-none" asp-action="Index" asp-controller="Login">back to Login</a>

            </div>
        </div>

    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(".login").show();
        $(".loader2").hide();

        window.successMessage = '@TempData["SuccessMessage"]';
        window.errorMessage = '@TempData["ErrorMessage"]';
    </script>
    <script src="~/js/toastr_script.js"></script>
    <script src="~/js/addressHelper_script.js"></script>
}