@{
    Layout = "~/Views/Shared/_dashboard.cshtml";
}


<div class="d-flex container ">
    <span class="fs-2"> My Cart</span>
</div>
<div class="container p-3 m-3 d-flex bg-white border rounded-3 align-items-center flex-column ">
    <div id="CartContainer">

    </div>

    <div class="d-flex justify-content-center m-5 w-100">
        <span class="loader3" style="width: 40px; height: 40px;"></span>
    </div>
</div>



@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        window.successMessage = '@TempData["SuccessMessage"]';
        window.errorMessage = '@TempData["ErrorMessage"]';
        $(".loader3").show();
        $('#CartContainer').hide();
        $(document).ready(function () {

            function FetchCartDetails() {
                $.ajax({
                    url: '/BuyerDashboard/GetCart',
                    type: 'GET',
                    success: function (response) {
                        $(".loader3").hide();
                        $('#CartContainer').show();
                        $("#CartContainer").html(response);
                    },
                    error: function () {
                        toastr.error('An error occurred while getting cart', "Error", { timeOut: 4000 });
                    }
                })
            }

            function updateQuantityDetails(cartId, quantity) {
                $.ajax({
                    url: '/BuyerDashboard/UpdateValuesOfCart',
                    type: 'PUT',
                    data: {
                        quantity: quantity,
                        cartId: cartId
                    },
                    success: function (response) {
                        if (response.success) {
                            $("#TotalPrice").html(new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' }).format(response.totalPrice));
                            $("#TotalDiscount").html(new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' }).format(response.totalDiscount));
                            $("#TotalQuantity").html(response.totalQuantity); // Quantity is just a number

                            $("#TotalPrice").data("totalprice", response.totalPrice);
                            $("#TotalDiscount").data("totaldiscount", response.totalDiscount);
                            $("#TotalQuantity").data("totalquantity", response.totalQuantity);

                        } else {
                            toastr.error('An error occurred while getting cart', "Error", { timeOut: 4000 });
                        }
                    },
                    error: function () {
                        toastr.error('An error occurred while getting cart', "Error", { timeOut: 4000 });
                    }
                })
            }

            $(document).on('click', '.Quantity-minus', function () {
                var $minusBtn = $(this);
                var $wrapper = $minusBtn.parent(); // The parent <span class="d-flex gap-3 ">
                var $qtySpan = $wrapper.find('.quantity-text');
                var $plusBtn = $wrapper.find('.Quantity-plus');

                var quantity = $(this).data("quantity");
                var cartId = $(this).data("cart-id");
                if (quantity <= 1) {
                    toastr.error('value can\'t be less than 1', "Error", { timeOut: 4000 });
                    return;
                }

                quantity--;

                // Update UI
                $qtySpan.text(quantity);
                $minusBtn.data("quantity", quantity);
                $plusBtn.data("quantity", quantity);

                updateQuantityDetails(cartId, quantity);
            });

            $(document).on('click', '.Quantity-plus', function () {
                var $plusBtn = $(this);
                var $wrapper = $plusBtn.parent();
                var $qtySpan = $wrapper.find('.quantity-text');
                var $minusBtn = $wrapper.find('.Quantity-minus');

                var quantity = $(this).data("quantity");
                var cartId = $(this).data("cart-id");

                quantity++;

                // Update UI
                $qtySpan.text(quantity);
                $plusBtn.data("quantity", quantity);
                $minusBtn.data("quantity", quantity);

                updateQuantityDetails(cartId, quantity);
            });

            $(document).on('click', '.RemoveProductFromCart', function () {
                var cartId = $(this).data('cart-id');
                $.ajax({
                    url: '/BuyerDashboard/UpdateCartList',
                    type: 'PUT',
                    data: {
                        cartId: cartId
                    },
                    success: function (response) {

                        $("#CartContainer").html(response);
                    },
                    error: function () {
                        toastr.error('An error occurred while getting cart', "Error", { timeOut: 4000 });
                    }
                })
            });



            // pending work


            $(document).on('click', '.buy-all-btn', function () {
                // Collect all data-cart-id values from buttons with class 'BuyProduct'
                var cartIds = $(".BuyProduct").map(function () {
                    return $(this).data("cart-id");
                }).get();

                

            });
            FetchCartDetails();
        });

    </script>
    <script src="~/js/toastr_script.js"></script>
}